body {
    display: flex;
    flex-direction: column;
    
}

.box-1 {
    background-color: #1f2937;
    color: #e5e7eb;
}

.box-2 {
    
}

.box-3 {
    background-color: #e5e7eb;
}

.box-4 {
    
}

.box-5 { 
    background-color: rgb(77, 110, 38);
    
}

/*INZIO FORMATTAZIONE BOX-1*/
.header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #f9faf8;
    
}

ul li {
    /* disposizione orizzontale elenco puntato */
    display: inline;
    padding: 20px;
    font-size: 18px;
    color: E5E7EB;
    
}

a{
    /*elimino colore blue e sottolineatura tipaca dei link*/

    text-decoration: none;
    color: white;
}



/*INZIO FORMATTAZIONE BOX-2*/

.titolo {
    text-align: center;
    padding: 16px;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;


}

.container-2 {
    display: flex;
    justify-content: center;
}

.scatole {
    
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    width: 150px;
    
    
}
.scatole img {
    width: 150px;
    height: 150px;
    /*arrotondare e colorare bordi immagini*/
    border: 2.5px solid #3882f6;
    /*funzione per arrotondare agli angoli dei bordi*/
    border-radius: 8px;
}

.descrizione {
    text-align: justify;
}

/*INIZIO FORMATTAZIONE BOX-3*/

.box-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    
}
.citazione{
    font-size: 36px;
    color: #1F2937;
    font-style:  italic;
    width: 700px;
}

.corpo-3 {
    display: flex;
    flex-direction: column;
}

.quote {
    text-align: right;
    font-weight: bold;
}

/*inizio formattazione box-4*/

.box-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
   

}
.container-4{
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    width: 700px;
    padding: 32px;
    gap: 20px ;
    border-radius: 8px;
    color: white;

}

/* formattazione button */

button {
    font-weight: 900;
    color: white;
    background-color: #3882f6;
    border: 2px solid;
    padding: 8px 16px;
    border-radius: 8px;
    
}

.azione {
    font-size: 18px;
    font-weight: 900;
}
.sottotesto{
    font-size: 12px;
}
/*creazione footer box*/

.footer {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
}
/*INIZIO FORMATTAZIONE BOX-1*/
.box-1 {
    

    padding-left: 100px;
    padding-right: 100px;
    height: 325px;
    

}

.container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.right-half img {
    
    height: 166.88px;
    width: 380px;
    margin-right: 20px;    
}
.left-half {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
    align-items: flex-start;
    gap: 10px;
}

.p1 {
    font-size: 48px;
    font-weight: 900;
    color: F9FAF8;
}
.p2 {
    font-size: 18px;
    color: E5E7EB;
}
.container-1 button {
    border: 0px solid;
    

}
.prova {
    margin-left: 148px;
    margin-right: 148px;
}
    
    